<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
        <thead>
        <tr>
            <th> Name </th>
            <th> Phonenumber </th>
            <th> Address </th>
            <th> Age </th>
            <th> Ranking </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${buddyInfos.isEmpty()}">
            <td colspan="2"> You have no friends! </td>
        </tr>
        <tr th:each="buddy : ${buddyInfos}">
            <td><span th:text="${buddy.getName()}"> Name </span></td>
            <td><span th:text="${buddy.getPhonenumber()}"> Phonenumber </span></td>
            <td><span th:text="${buddy.getAddress()}"> Address </span></td>
            <td><span th:text="${buddy.getAge()}"> Age </span></td>
            <td><span th:text="${buddy.getRanking()}"> Ranking </span></td>
        </tr>
        </tbody>
    </table>

    <hr>

    <form action="/address-book/1/buddy2" method="POST">
        Name:<br>
        <input type="text" name="name"><br>
        Phone Number:<br>
        <input type="text" name="phonenumber"><br>
        Address:<br>
        <input type="text" name="address"><br>
        Ranking:<br>
        <input type="text" name="ranking"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
